* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 20px 0px;
}


.photos__wrapper {
  display: flex;
  justify-content: space-around;
}

.photo__item {
  width: 30%;
  text-align: center;
  margin: 20px;
}